.home-page {
    width: 100%;
    height: 100%;
    display: flex;
}

.home-page .site-content {
    width: calc(100% - 200px);
    height: 100%;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    left: 200px;
}

.home-page .site-content .books {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-page .site-content h1 {
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 36px;
}

.add-book {
    display: flex;
    justify-content: space-between;
}

.box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.classic {
    margin: 0;
    width: auto;
    background: var(--blue);
    padding-left: 10px;
    padding-right: 10px;
}

.classic:hover {
    background: var(--dark-blue);
}

.add-book .popup button {
    width: 100%;
}

.home-page .popup {
    justify-content: space-around;
}

.box-popup.add form, .box-popup.modify form{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.box-popup.add .popup, .box-popup.modify .popup{
    width: 54%;
    height: 50%;
    top: 25%;
    left: 23%;
    justify-content: flex-start;
    gap: 26px;
}

.box-popup.modify .popup {
    height: 58%;
    top: 21%;
}

.box-popup.add .row, .box-popup.modify .row, .box-popup.delete-cat .row{
    display: flex;
    gap: 20px;
    font-size: 17px;
}

.box-popup.add .box-autori, .box-popup.modify .box-autori {
    width: 100%;
}

.box-popup.add .box-autori p, .box-popup.modify .box-autori p {
    margin: 0;
    font-size: 12px;
    color: red;
    text-align: end;
}

.box-popup.add select, .box-popup.modify select, .box-popup.delete-cat select {
    width: 50%;
    height: 28px;
    font-size: 17px;
    text-align: center;
}

.box-popup.modify select {
    width: 200px;
}

.box-popup.add .close, .box-popup.modify .close, .box-popup.delete-cat .close, .google-books-popup .close {
    margin: 0;
    background: transparent;
    color: black;
    height: auto;
    display: flex;
    justify-content: start;
}

.box-popup.add .title, .box-popup.modify .title, .box-popup.delete-cat .title, .google-books-popup .title {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.box-popup.add label, .box-popup.modify label {
    text-align: start;
}

.box-popup.add.category .popup{
    width: 48%;
    height: 38%;
    top: 31%;
    left: 26%;
}

.box-popup.add.category form {
    justify-content: center;
    padding-top: 0;
    align-items: center;
}

.box-popup.remove.book .buttons {
    display: flex;
    width: 100%;
    gap: 20px;
}

.box-popup.remove.book .popup, .box-popup.delete-cat .popup, .google-books-popup .popup {
    height: auto;
}

.home-page .btn-delete,
.home-page .btn-modify {
    margin: 0;
    width: 40px;
    border-radius: 50%;
    background: var(--dark-blue);
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.home-page .btn-delete {
    margin-right: 5px;
}

.home-page .btn-modify {
    margin-left: 5px;
}

.box-popup.delete-cat select {
    margin: 30px 0;
}

.none {
    display: none;
}

/* SEZIONE CONSIGLI */
.section-consigli {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}

.btn-consigli {
    width: 200px;
    padding: 10px;
}

.section-consigli .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-consigli .box h2 {
    margin: 0;
}

.section-consigli .btn-add {
    border-radius: 50%;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-add {
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    .home-page {
        flex-direction: column;
    }

    .home-page .site-content {
        width: 100%;
        padding: 10px;
    }

    .home-page .site-content h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }
}