.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #F0F0F0;
}

.home-page .site-content {
    width: calc(100% - 200px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    gap: 20px;
}

.home-page .site-content h1 {
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 36px;
}

.table {
    background-color: white;
    padding: 25px;
    border: 1px solid var(--blue);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1092px;
}

thead {
    text-align: center;
    font-size: 18px;
    color: var(--dark-blue);
}

tbody {
    text-align: center;
}

tr {
    height: auto;
}

tbody tr:hover {
    background-color: rgb(163, 220, 255, 0.4);
}

td,
th {
    padding: 10px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

th {
    padding: 10px 0px;
    width: 10%;
}

.add-book {
    display: flex;
    justify-content: end;
}

.add-book button {
    margin: 0;
    width: 100px;
    background: var(--blue);
}

.add-book button:hover {
    background: var(--dark-blue);
}

.add-book .popup button {
    width: 100%;
}

.home-page .popup {
    justify-content: space-around;
}

.box-popup.add form, .box-popup.modify form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.box-popup.add .popup, .box-popup.modify .popup {
    width: 54%;
    height: 50%;
    top: 25%;
    left: 23%;
    justify-content: flex-start;
    gap: 26px;
}

.box-popup.modify .popup {
    height: 58%;
    top: 21%;
}

.box-popup.add .row, .box-popup.modify .row {
    display: flex;
    gap: 20px;
    font-size: 17px;
}

.box-popup.add .box-autori, .box-popup.modify .box-autori {
    width: 100%;
}

.box-popup.add .box-autori p, .box-popup.modify .box-autori p {
    margin: 0;
    font-size: 12px;
    color: red;
    text-align: end;
}

.box-popup.add select, .box-popup.modify select {
    width: 50%;
    height: 28px;
    font-size: 17px;
    text-align: center;
}

.box-popup.modify select {
    width: 200px;
}

.box-popup.add .close, .box-popup.modify .close {
    margin: 0;
    background: transparent;
    color: black;
    height: auto;
    display: flex;
    justify-content: start;
}

.box-popup.add .title, .box-popup.modify .title {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.box-popup.add label, .box-popup.modify label {
    text-align: start;
}

.box-popup.add.category .popup{
    width: 48%;
    height: 38%;
    top: 31%;
    left: 26%;
}

.box-popup.add.category form {
    justify-content: center;
    padding-top: 0;
    align-items: center;
}

.home-page .btn-delete,
.home-page .btn-modify {
    margin: 0;
    width: 40px;
    border-radius: 50%;
    background: var(--dark-blue);
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.home-page .btn-delete {
    margin-right: 5px;
}

.home-page .btn-modify {
    margin-left: 5px;
}

.home-page.categories table{
    min-width: 630px;
}

@media screen and (max-width: 768px) {
    
}