@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Display:wght@400..800&display=swap');

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
        url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
        url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
        url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
        url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}


* {
    box-sizing: border-box;
    font-family: "Wix Madefor Display", sans-serif !important;
    --blue: rgb(60, 180, 255);
    --light-blue: rgb(163, 220, 255);
    --dark-blue: rgb(19, 156, 241);
    --red: rgb(171, 41, 41);
}

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.fas {
    font-family: "FontAwesome" !important;
    font-style: normal;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-envelope-o::before {
    content: '\f003';
}

.fa-lock::before {
    content: '\f023';
}

.fa-clock-o::before {
    content: '\f017';
}

.fa-user-o::before {
    content: '\f007';
}

.fa-close::before {
    content: '\f00d';
}

.fa-trash::before {
    content: '\f014';
}

.fa-pencil::before {
    content: '\f040';
}

.fa-search::before {
    content: '\f002';
}

button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: transparent;
    font-family: "Wix Madefor Display", sans-serif !important;
    transition: all 0.3s ease;
}

a {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

#root {
    height: 100%;
}

select {
    padding: 0px 10px;
}

input:focus {
    outline: none; 
    box-shadow: none; 
}