.root-login-page,
.root-register-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register-page, .login-page {
    margin: 3%;
    height: 700px;
    overflow: hidden;
    border-radius: 30px;
    background: linear-gradient(to bottom, #A0DBFF, #dff0fb);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.container{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.form-container {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 75%;
}

.form-group {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

label {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

input {
    border: none;
    border-bottom: solid 1px black;
    background-color: transparent;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
   -webkit-appearance: none;
}

.forgot-password {
    padding-top: 10px;
    font-size: 13px;
    text-align: end;
}

button {
    width: 100%;
    margin-top: 25px;
    height: 45px;
    color: white;
    background: linear-gradient(to right, var(--light-blue), var(--blue));
}

button:hover {
    background: linear-gradient(to right, #78c9fc, var(--dark-blue));
    transition: all 0.3s ease;
}

.register,
.login {
    text-align: center;
    font-size: 13px;
}

.popup {
    position: absolute;
    background-color: white;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-popup {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.alert-psw {
    margin: 0;
    font-size: 13px;
    color: red;
    text-align: end;
    top: -16px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .login-page,
    .register-page {
        flex-direction: column;
        height: 97%;
        margin-top: 0;
        margin-bottom: 0;
    }

    .img {
        width: 100%;
        height: 40%;
    }

    .container {
        width: 100%;
        height: 60%;
    }

    .form-container {
        padding: 30px 16px;
    }

    .box {
        width: 82%;
    }

    h1 {
        font-size: 30px;
    }

    .form {
        font-size: 16px;
    }

    button{
        font-size: 14px;
    }

    .register,
    .login {
        font-size: 12px;
    }

    .popup {
        left: 10%;
        top: 34%;
        width: 80%;
        height: auto;
    }
}